.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

// Navigation
.agency-dark {
  background-color: rgba(0, 0, 0, 0.507) !important;
  &.darken-1 {
    background-color: darken(rgb(78, 2, 78), 5%) !important;
  }
  &.darken-2 {
    background-color: darken(rgb(78, 2, 78), 10%) !important;
  }
  &.darken-3 {
    background-color: darken(rgb(78, 2, 78), 15%) !important;
  }
  &.lighten-1 {
    background-color: lighten(rgb(78, 2, 78), 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten(rgb(78, 2, 78), 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten(rgb(78, 2, 78), 30%) !important;
  }
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2018-2019 Florian Kleber
 */
