@import "../../../utilities/variables";

@media only screen and (max-width: 1440px) {
  .navtop {
    position: absolute;
  }

  .b {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .navtop {
    position: fixed;
    transform-origin: top;
    animation: displaynone 700ms ease-in-out;
    a {
      opacity: 0;
      animation: fadein 700ms ease-in-out forwards 700ms;
    }
  }

  .banner {
    transform-origin: top;
    transform: rotateX(90deg);
    animation: displaynone 700ms ease-in-out forwards 700ms;
    .b {
      display: flex;
    }

    * {
      opacity: 0;
      animation: fadein 700ms ease-in-out forwards 1400ms;
    }
  }
}

.site-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //overflow: hidden;
  position: relative;
  padding-top: $navtop;
}

h2 {
  font-size: 5vw;
}

.navtop {
  z-index: 9999;
  top: 1px;
  min-width: 100%;
  max-height: $navtop;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  ul {
    display: flex;
  }
  ul.level-1 {
    li {
      background-image: url(https://erebos.xyz/PIC/gg.gif);
      list-style: none;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
      &:hover > ul.level-2 {
        visibility: visible;
      }
      a {
        display: block;
        width: 200px;
        text-align: center;
        padding: 13px 34px 13px 34px;
        text-decoration: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
      }
      ul.level-2 {
        z-index: 1;
        flex-direction: column;
        position: absolute;
        visibility: hidden;
      }
    }
  }
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //overflow: hidden;
  max-height: 239px;
  min-height: 200px;
  height: 16.6vw;
  background-color: $banner-c;
}

.b {
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 100%;
}

#full {
  //top: 0px;
  position: static;
  height: 100vh;
  .parallax-inner {
    position: sticky;
    top: 0;
  }
}

.synthwave {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //overflow: hidden;
  height: 95vh;
  width: 100%;
  .titlecontainer {
    margin-top: 100px;
  }
}
.synthwave {
  width: 100vw;
  height: 100vh;
  position: relative;
  .parallax-inner {
    .animated {
      height: 100%;
    }
    height: 100vh;
  }
}
.fm1 {
  bottom: 0;
  width: 100vw;
  position: absolute;
}
.fm2 {
  bottom: 0;
  width: 100vw;
  position: absolute;
}
.fm3 {
  bottom: 0;
  width: 100vw;
  position: absolute;
}
.flaser {
  //top: calc(60vh - 25px);
  bottom: calc(50% - 25px);
  height: 50px;
  width: 100vw;
  position: absolute;
}
.fsynth {
  bottom: 0px;
  position: absolute;
  height: 50%;
  min-width: 100vw;
}
.fshinobu {
  bottom: 0px;
  //overflow: hidden;
  width: 100vw;
  position: absolute;
}
.fshinobu img {
  bottom: 0px;
  width: 2600px;
  left: -20vw;
  position: absolute;
}
.full .sky {
  top: 0px;
  height: 50vh;
  position: absolute;
  width: 100vw;
}
.cloud1 {
  opacity: 0.1;
  top: 0px;
  right: 5vw;
  height: 500px;
  margin-top: 0px;
  position: absolute;
}
.cloud2 {
  opacity: 0.08;
  top: 0px;
  left: 10vw;
  height: 500px;
  margin-top: 0px;
  position: absolute;
}
.eule {
  top: 0px;
  right: 0px;
  height: 700px;
  margin-top: 60px;
  position: absolute;
  height: 38vw;
}
.kroko {
  top: 0px;
  left: -10px;
  width: 600px;
  margin-top: 60px;
  position: absolute;
  height: 18vw;
  width: 36vw;
}

.creativetitlecontainer {
  z-index: 0;
  border-radius: 100%;
  transform: rotate(-360deg);
  transition: box-shadow 0.5s linear, transform 0.5s linear;
  background-color: rgba(255, 0, 0, 0.7);
}

.creativetitlecontainer:hover {
  transform: rotate(360deg);
  transition: box-shadow 0.5s linear, transform 0.5s linear;
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
}

.titlecontainer {
  padding-top: 15vh;
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlespacer {
  height: 1px;
  width: 600px;
  background: url(https://erebos.xyz/PIC/kreide.png);
  background-size: 21px;
}

#Izaya {
  width: 362px;
  height: 300px;
}

#Shizuo {
  width: 370px;
  height: 300px;
}

#seal {
  width: 150px;
  height: 150px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  .circle {
    max-width: 100%;
    max-width: 700px;
    margin: auto;
    img {
      width: 100%;
    }
    &.mobile {
      h2 {
        background: rgba(0, 0, 0, 0.5);
        padding: 1rem 0;
      }
      img {
        max-height: 200px;
        width: auto;
      }
    }
  }
}
