.follows{
    width: 300px;
}

.followh{
    font-size: 2em;
    line-height: 1;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: "Noto Sans";
    color: white;
    width: 265px;
}

.followt{
    width: 500px;
    font-size: 1.4em;
    font-weight: bold;
}